<h1>Editing book author</h1>

<%= render "form", book_author: @book_author %>

<br>

<div>
  <%= link_to "Show this book author", @book_author %> |
  <%= link_to "Back to book authors", book_authors_path %>
</div>
